<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">发送钻石
    <a ui-sref="app.index" class="pull-right text-info">首页</a>
  </h1>
</div>
<div class="wrapper-md" ng-controller="sendDiamondController">
  <!-- toaster directive -->
  <toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'close-button':false}"></toaster-container>
  <!-- / toaster directive -->
  <div class="panel panel-default">
    <div class="panel-heading font-bold">
      发送钻石
    </div>
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">玩家UID</label>
          <div class="col-sm-10">
            <div class="input-group">
              <input type="number" class="form-control" ng-model="uid">
              <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click = "getUserName()">读取昵称</button>
          </span>
            </div>
            <span class="text-info">{{userName}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">充钻数量</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" ng-model="diamond">
          </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <div class="col-sm-2 col-sm-offset-10" style="float: right;">
            <button type="submit" class="btn btn-primary sendDiamond" ng-click="sendDiamond()" >发送</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>