<div class="modal-body wrapper-lg">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="m-t-none m-b font-thin">修改代理信息</h3>
      <p></p>
      <form role="form">
        <div class="form-group row">
          <div class="btn-group col-sm-12 col-xs-12" dropdown>
            <button type="button" class="btn btn-primary col-sm-12 col-xs-12" dropdown-toggle>
              {{agentLevel}} <span class="caret"></span>
            </button>
            <ul class=" col-xs-12 col-sm-12 dropdown-menu" style="width: 93%;margin-left: 3.5%" role="menu">
              <li><a ng-click="selectLevelInt = 1; agentLevel='高级代理'">高级代理</a></li>
              <li><a ng-click="selectLevelInt = 2; agentLevel='中级代理'">中级代理</a></li>
              <li><a ng-click="selectLevelInt = 3; agentLevel='普通代理'">普通代理</a></li>
            </ul>
          </div>
        </div>
        <!--todo:启东关闭-->
        <!--<div class="form-group">-->
          <!--<label>代理佣金提成比例</label>-->
          <!--<input type="number" class="form-control" ng-model="bonusPercent" placeholder="请输入代理佣金提成比例,比如30% 则输入30">-->
        <!--</div>-->
        <div class="checkbox m-t-lg">
          <button type="submit" class="btn btn-sm btn-default pull-left text-uc m-t-n-xs" ng-click="cancel()"><strong>取消</strong></button>
          <button type="submit" class="btn btn-sm btn-danger pull-right text-uc m-t-n-xs" ng-click="editAgent()"><strong>修改</strong></button>
        </div>
      </form>
    </div>
  </div>
</div>