<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">代理查看
    <a ui-sref="app.dashboard" class="pull-right text-info">
      <!--<i class="fa fa-home text-x text-info "></i>-->
      首页
    </a>
  </h1>
</div>
<div class="wrapper-md" ng-controller="agentListController">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="m-n font-thin h5" />
      <a ng-click="back()" ng-if="user.uid != pid" class="text-info">
        后退
      </a>
    </div>
    <!-- toaster directive -->
    <toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'close-button':false}"></toaster-container>
    <!-- / toaster directive -->

    <div class="row wrapper">
      <div class="col-sm-5 m-b-xs">
        <label>按日期范围查看</label>
        <p class="input-group">
          <input type="text"  class="form-control" ng-click="openStart()" datepicker-popup="{{format}}" ng-model="dateBegin" is-open="openedStart"  alt-input-formats="altInputFormats" ng-required="true" clear-text="清空" current-text="今天" close-text="关闭" />
          <span class="input-group-addon">-</span>
          <input type="text" ng-click="openEnd()" class="form-control"  datepicker-popup="{{format}}" ng-model="dateEnd" is-open="openedEnd"  alt-input-formats="altInputFormats"  ng-required="true" clear-text="清空" current-text="今天" close-text="关闭" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="searchByDate()"><i class="glyphicon glyphicon-search"></i></button>
          </span>
        </p>
      </div>
      <div class="col-sm-4">
        <label>按代理UID查看</label>
        <p class="input-group">
          <input type="text" class="form-control" ng-model="searchUID" placeholder="输入代理UID">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="searchByUID()"><i class="glyphicon glyphicon-search"></i></button>
          </span>
        </p>
      </div>
      <!--<div class="col-sm-2">-->
        <!--<label>&nbsp;</label>-->
        <!--<p class="input-group">-->
        <!--<span class="input-group-btn">-->
            <!--<button type="button" class="btn btn-danger" ng-click="openAuditAgent()">-->
      <!--<script type="text/ng-template" id="registerAgent.html">-->
      <!--<div ng-include="'tpl/registerAgent.html'"></div>-->
      <!--</script>-->
              <!--开通下级代理-->
            <!--</button>-->
          <!--</span>-->
        <!--</p>-->
      <!--</div>-->
    </div>
    <table class="table m-b-none" style="table-layout:fixed;" ui-jq="footable">
      <thead>
      <tr>
        <th  data-sort-ignore="true" width="30px"></th>
        <th data-sort-ignore="true" width="70px">
          UID
        </th>
        <th data-sort-ignore="true" width="30%">
          昵称
        </th>
        <th data-sort-ignore="true" width="100px">
          邀请码
        </th>
        <th data-hide="phone,tablet">
          代理等级
        </th>
        <th data-hide="phone,tablet">
          佣金比例
        </th>
        <th data-hide="phone,tablet">
          直属玩家数
        </th>
        <th data-hide="phone,tablet" width="150px">
          下级代理数
        </th>
      </tr>
      </thead>
      <tbody ng-show="inited">
      <tr ng-repeat="record in agents">
        <td></td>
        <td>{{record.uid}}</td>
        <td style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">{{record.name}}</td>
        <td>{{record.agentId}}</td>
        <td data-value="1"  data-hide="phone,tablet">
          <span class="label bg-success" title="Active">{{record.agentLevel|agentLevelFormat}}</span>
        </td>
        <td  data-hide="phone,tablet">{{setBonusPercent(record.agentLevel)}}%</td>
        <td  data-hide="phone,tablet">{{record.playerNum}}</td>
        <td  data-hide="phone,tablet">
          <a ui-sref="app.agents({pid: record.uid})" class="text-info" ng-if="record.agentNum>0">{{record.agentNum}} (点击查看详情)</a>
          <a class="text-default" ng-if="record.agentNum==0">0</a>
        </td>
      </tr>
      </tbody>
    </table>
    <footer class="panel-footer">
      <div class="row">
        <div class="col-sm-4 text-center">
          <small class="text-muted inline m-t-sm m-b-sm">第{{pageId+1}}页/共{{pageNum}}页</small>
        </div>
        <div class="col-sm-4 text-right text-center-xs">
            <div class="btn-group m-t-none m-b-none">
              <button type="button" class="btn btn-default btn-sm"><a class="m-n font-thin text-info" ng-click="pageroll(0)">第一页</a></button>
              <button type="button" class="btn btn-default btn-sm"><a class="m-n font-thin text-info" ng-click="pageroll(-1)">上一页</a></button>
              <button type="button" class="btn btn-default btn-sm"><a class="m-n font-thin text-info" ng-click="pageroll(1)">下一页</a></button>
              <button type="button" class="btn btn-default btn-sm"><a class="m-n font-thin text-info" ng-click="pageroll(2)">最后一页</a></button>
            </div>
        </div>
      </div>
    </footer>
  </div>
</div>