<div class="modal-body wrapper-lg">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="m-t-none m-b font-thin">发钻石</h3>
      <p>发送钻石给玩家</p>
      <form role="form">
        <div class="form-group">
          <input type="number" class="form-control" ng-model="gemNum" placeholder="请输入钻石数量">
        </div>
        <div class="checkbox m-t-lg">
          <button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs" ng-click="sendgem()"><strong>发送</strong></button>
        </div>
      </form>
    </div>
  </div>
</div>