<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">玩家查看
    <a ui-sref="app.dashboard" class="pull-right text-info">
    <!--<i class="fa fa-home text-x text-info "></i>-->
      首页
  </a>
  </h1>
</div>
<div class="wrapper-md" ng-controller="playerListController" ng-show="inited">
  <!-- toaster directive -->
  <toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'close-button':false}"></toaster-container>
  <!-- / toaster directive -->

  <div class="panel panel-default">
    <div class="panel-heading">

    </div>
    <div class="row wrapper">
      <div class="col-sm-8 m-b-xs">
        <label>按日期范围查看</label>
        <p class="input-group">
          <input type="text"  class="form-control" ng-click="openStart()" datepicker-popup="{{format}}" ng-model="dateBegin" is-open="openedStart"  alt-input-formats="altInputFormats" ng-required="true" clear-text="清空" current-text="今天" close-text="关闭" />
          <span class="input-group-addon">-</span>
          <input type="text" ng-click="openEnd()" class="form-control"  datepicker-popup="{{format}}" ng-model="dateEnd" is-open="openedEnd"  alt-input-formats="altInputFormats"  ng-required="true" clear-text="清空" current-text="今天" close-text="关闭" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="searchByDate()"><i class="glyphicon glyphicon-search"></i></button>
          </span>
        </p>
      </div>
      <div class="col-sm-4">
        <label>按玩家UID查看</label>
        <p class="input-group">
          <input type="text" class="form-control" ng-model="searchUID" placeholder="输入玩家UID">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="searchByUID()"><i class="glyphicon glyphicon-search"></i></button>
          </span>
        </p>
      </div>
    </div>
      <div class="table-responsive">
        <table width="100%" style="table-layout:fixed;" class="table table-striped b-t b-light ">
          <thead>
          <tr>
            <th width="60px">UID</th>
            <th width="50%">昵称</th>
            <th width="80px" >钻石数</th>
            <th width="100px">送钻</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="record in players">
            <td>{{record.uid}}</td>
            <td style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">{{record.nickName}}</td>
            <td>{{record.gemNum}}</td>
            <td>
              <a ng-controller="ModalCtrl" ng-click="openSendGem(record.uid)">
                <script type="text/ng-template" id="myModalSendGem.html">
                  <div ng-include="'tpl/modal-sendgem.html'"></div>
                </script>
                <i class="fa fa-location-arrow text-danger"></i></a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <footer class="panel-footer">
        <div class="row">
          <div class="col-sm-4 text-center">
            <small class="text-muted inline m-t-sm m-b-sm">第{{pageId+1}}页/共{{pageNum}}页</small>
          </div>
          <div class="col-sm-4 text-right text-center-xs">
            <ul class="pagination pagination-sm m-t-none m-b-none">
              <li><a ng-click="pageroll(0)">第一页</a></li>
              <li><a ng-click="pageroll(-1)">上一页</a></li>
              <li><a ng-click="pageroll(1)">下一页</a></li>
              <li><a ng-click="pageroll(2)">最后一页</a></li>
            </ul>
          </div>
        </div>
      </footer>
  </div>
</div>