<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">代理提现查询
    <a ui-sref="app.index" class="pull-right text-info">首页</a>
  </h1>
</div>
<div class="wrapper-md" ng-controller="widthdrawController">
  <!-- toaster directive -->
  <toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'close-button':false}"></toaster-container>
  <!-- / toaster directive -->

  <div class="panel panel-default">
    <div class="panel-heading">

    </div>
    <div class="row wrapper">
      <div class="col-sm-5 m-b-xs">
        <label>按日期范围查看</label>
        <p class="input-group">
          <input type="text"  class="form-control" ng-click="openStart()" datepicker-popup="{{format}}" ng-model="dateBegin" is-open="openedStart"  alt-input-formats="altInputFormats" ng-required="true" clear-text="清空" current-text="今天" close-text="关闭" />
          <span class="input-group-addon">-</span>
          <input type="text" ng-click="openEnd()" class="form-control"  datepicker-popup="{{format}}" ng-model="dateEnd" is-open="openedEnd"  alt-input-formats="altInputFormats"  ng-required="true" clear-text="清空" current-text="今天" close-text="关闭" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="searchByDate()"><i class="glyphicon glyphicon-search"></i></button>
          </span>
        </p>
      </div>
      <div class="col-sm-3">
        <label>按代理UID查看</label>
        <p class="input-group">
          <input type="text" class="form-control" ng-model="searchUID" placeholder="输入玩家UID">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="searchByUID()"><i class="glyphicon glyphicon-search"></i></button>
          </span>
        </p>
      </div>
    </div>
    <div class="table-responsive">
      <table width="100%" style="table-layout:fixed;" class="table table-striped b-t b-light ">
        <thead>
          <tr>
            <th width="60px">UID</th>
            <th width="40%">昵称</th>
            <th width="50px" >钻石数</th>
            <th width="100px">送钻&nbsp;开代理</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="record in players">
            <td>{{record.uid}}</td>
            <td style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">{{record.nickName}}</td>
            <td>{{record.gemNum}}</td>
            <td>
              <a ng-controller="ModalCtrl" ng-click="openSendGem(record.uid)">
                <script type="text/ng-template" id="myModalSendGem.html">
                  <div ng-include="'tpl/modal-sendgem.html'"></div>
                </script>
                <i class="fa fa-location-arrow text-danger"></i></a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a ng-controller="ModalCtrl" ng-if="record.vipLevel < 20" ng-click="openAuditAgent(record.uid)">
                <script type="text/ng-template" id="myModalAuditAgent.html">
                  <div ng-include="'tpl/modal-auditagent.html'"></div>
                </script>
                <i class="fa fa-key text-info"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="panel-heading">
      DataTables
    </div>
    <div class="table-responsive">
      <table ui-jq="dataTable" ui-options="{
          sAjaxSource: 'vendor/jquery/datatables/datatable.json',
          aoColumns: [
            { mData: 'engine' },
            { mData: 'browser' },
            { mData: 'platform' },
            { mData: 'version' },
            { mData: 'grade' }
          ]
        }" class="table table-striped m-b-none">
        <thead>
        <tr>
          <th  style="width:20%">Rendering engine</th>
          <th  style="width:25%">Browser</th>
          <th  style="width:25%">Platform(s)</th>
          <th  style="width:15%">Engine version</th>
          <th  style="width:15%">CSS grade</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>