<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">修改密码
        <a ui-sref="app.index" class="pull-right text-info">首页</a>
    </h1>
</div>
<div class="wrapper-md" ng-controller="changePasswordController" ng-init="app.settings.container = false;">
    <a href class="navbar-brand block m-t">{{app.name}}</a>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading font-bold">修改密码</div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label>原密码</label>
                            <input type="password" class="form-control" ng-model="oldpwd" placeholder="原密码">
                        </div>
                        <div class="form-group">
                            <label>新密码</label>
                            <input type="password" class="form-control" ng-model="newpwd" placeholder="新密码">
                        </div>
                        <div class="form-group">
                            <label>再次确认新密码</label>
                            <input type="password" class="form-control" ng-model="newpwd2" placeholder="再次输入新密码">
                        </div>
                        <div class="form-group col-lg-10 col-lg-offset-1">
                                <button class="btn btn-sm btn-info" ng-click="changePwd()">修改</button>
                                <button class="btn btn-sm btn-default pull-right" ui-sref="app.index">取消</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'close-button':false}"></toaster-container>
    <!-- / toaster directive -->
    <div class="text-center" ng-include="'tpl/blocks/page_footer.html'"></div>
</div>