<div style="background-color: white" class="col-sm-12">
    <div class="wrapper-md">
        <div>
            <div class="row">
                <div class="col-sm-12">
                    <form name="form-contact" class="form-validation">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span class="h4">发布紧急公告</span>
                            </div>
                            <div class="panel-body">
                                <p class="text-muted"></p>
                                <div class="form-group">
                                    <label>公告信息</label>
                                    <textarea class="form-control" ng-model="text" rows="6" placeholder="请在这里添加通知..."></textarea>
                                </div>
                                <div class="form-group">
                                    <label>循环次数</label>
                                </div>
                                <div>
                                    <div class="input-group bootstrap-touchspin">
                                        <input ui-jq="TouchSpin" type="number" ng-model="times" class="form-control" data-min="1" data-max="50" data-verticalbuttons="true" data-verticalupclass="fa fa-caret-up" data-verticaldownclass="fa fa-caret-down" style="display: block;">
                                    </div>
                                </div>
                            </div>
                            <footer class="panel-footer text-right bg-light lter">
                                <button type="submit" class="btn btn-success" ng-click="noticeSubmit()" style="margin-right: 20px;">提交</button>
                                <a ng-click="cancel()" class="btn btn-default" style="float:right">返回</a>
                            </footer>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>