<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">查看代理密码
    <a ui-sref="app.index" class="pull-right text-info">首页</a>
  </h1>
</div>
<div class="wrapper-md" ng-controller="viewAgentPasswordController">
  <!-- toaster directive -->
  <toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'close-button':false}"></toaster-container>
  <!-- / toaster directive -->
  <div class="panel panel-default">
    <div class="panel-heading font-bold">
      查看代理密码
    </div>
    <div class="panel-body">
      <form role="form">
        <div class="form-group row">
          <div class="col-sm-12">
            <label>代理UID</label>
            <div class="input-group">
              <input type="number" class="form-control" ng-model="uid">
              <span class="input-group-btn">
                <button class="btn btn-success" type="button" ng-click="getUserName(uid)">读取昵称</button>
              </span>
            </div>
          </div>
          <div class="col-sm-12"  ng-show="userName">
            <label>玩家昵称</label>
            <div class="input-group">
              <span class="text-info text-x">{{userName}}</span>
              <span class="text-info text-x" ng-if="nullName">{{userName}}</span>
            </div>
          </div>
          <div class="col-sm-12"  ng-show="agentPassword">
            <label>代理密码</label>
            <div class="input-group">
              <span class="text-info text-x">{{agentPassword}}</span>
            </div>
          </div>
        </div>
        <div class="checkbox m-t-lg" ng-show="userName">
          <button type="submit" class="btn btn-sm btn-danger pull-right text-uc m-t-n-xs" ng-click="viewPassword()"><strong>查看密码</strong></button>
        </div>
      </form>
    </div>
  </div>
</div>